In [1]:
import requests 
import pandas as pd 
import mysql.connector 
import decimal 
import pymysql 
 
url = "https://churchofjesuschristtemples.org/maps/gps/" 
filename = "temples.csv" 
 
# Send a GET request to the URL 
response = requests.get(url) 
 
# Check if the request was successful 
if response.status_code == 200: 
    # Save the content of the response (CSV file) to a local file 
    with open(filename, "wb") as file: 
        file.write(response.content) 
else: 
    print("Failed to download the file. Status code:", response.status_code)

In [19]:
# Format my dataframe to be uploaded to database
column_names = {'Temple': 'Temple'
    , 'Status': 'Status'
    , 'Latitude': 'Latitude'
    , 'Longitude': 'Longitude'
    , 'Address': 'Address'
    , 'City': 'City'
    , 'County': 'County'
    , 'State': 'State'
    , 'Postal_Code': 'Postal Code'
    , 'Country': 'Country'
    , 'Phone': 'Phone'
}
df = temples.rename(columns=column_names)
df.head()

,Temple,Status,Latitude,Longitude,LatitudeDegrees,LongitudeDegress,Address,City,County,State,Postal Code,Country,Phone
0,Aba Nigeria Temple,Dedicated,5.147644,7.356719,"5ï¿½8'51""N","7ï¿½21'24""E",72-80 Okpu-Umuobo Rd,Aba,NaN,Abia State,NaN,Nigeria,(+234) 80-3903-4810
1,Abidjan Ivory Coast Temple,Under Construction,5.362307,-3.976865,"5ï¿½21'44""N","3ï¿½58'36""W",1874 Boulevard de France,Abidjan,NaN,NaN,NaN,Cote d'Ivoire,NaN
2,Accra Ghana Temple,Dedicated,5.567490,-0.193706,"5ï¿½34'2""N","-0ï¿½11'37""E",57 Independence Ave North Ridge P.M.B. CT 209 ...,Accra,NaN,NaN,NaN,Ghana,(+233) 302-650-123
3,Adelaide Australia Temple,Dedicated,-34.892473,138.635002,"34ï¿½53'32""S","138ï¿½38'6""E",53-59 Lower Portrush Rd,Marden,NaN,South Australia,5070,Australia,(+61) 8-8363-8000
4,Alabang Philippines Temple,Under Construction,14.412913,121.037838,"14ï¿½24'46""N","121ï¿½2'16""E",Filinvest Avenue and Corporate Avenue Alabang,Muntinlupa,NaN,Metro Manila,NaN,Philippines,NaN

In [20]:
# Connect to MySQL server
cnx = mysql.connector.connect(
    host = 'xxxxx'
    , user = 'jkober'
    , password = 'xxxx'
    , database = 'external_data'
    , port = 3306
    , auth_plugin='mysql_native_password'
)

# Create a cursor object to execute SQL queries\n",
cursor = cnx.cursor()

# Query to drop table\n",
drop_table_query = "drop table external_data.temples"
cursor.execute(drop_table_query)
# Query to create table
create_table_query = "create table external_data.temples (Temple varchar(200), Status varchar(50), Latitude varchar(50), Longitude varchar(50), Address varchar(200), City varchar(50), County varchar(50), State varchar(50), Postal_Code varchar(50), Country varchar(50), Phone varchar(50))"
cursor.execute(create_table_query)

In [22]:
# Insert Data into the table
for i in range(len(df)):
    # SQL query without parentheses
    sql = "INSERT INTO external_data.temples (Temple, Status, Latitude, Longitude, Address, City, County, State, Postal_Code, Country, Phone) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    
    # Values as a list using .tolist()
    values = (
        str(df['Temple'].iloc[i])[:50],
        str(df['Status'].iloc[i])[:50],
        str(df['Latitude'].iloc[i])[:50],
        str(df['Longitude'].iloc[i])[:50],
        str(df['Address'].iloc[i])[:50],
        str(df['City'].iloc[i])[:50],
        str(df['County'].iloc[i])[:50],
        str(df['State'].iloc[i])[:50],
        str(df['Postal Code'].iloc[i])[:50],
        str(df['Country'].iloc[i])[:50],
        str(df['Phone'].iloc[i])[:50]
    )

    # Execute the INSERT statement
    cursor.execute(sql, values)
# Commit the changes and close the connection\n",
cnx.commit()
cnx.close()

In [23]:
url = "https://churchofjesuschristtemples.org/statistics/locations/" 
filename = "UnitsPerCountry.csv" 
 
# Send a GET request to the URL 
response = requests.get(url) 
 
# Check if the request was successful 
if response.status_code == 200: 
    # Save the content of the response (CSV file) to a local file 
    with open(filename, "wb") as file: 
        file.write(response.content) 
else: 
    print("Failed to download the file. Status code:", response.status_code)